body {
    
    text-align: center;
    border: 0px;
    padding: 0px;
    margin: 0px;
    
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(219, 26, 68);
    font-size: 8em;
    
}

a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(9, 75, 95);
    font-size: 4em;
}
